@import "config";

body {
  background-color: var(--bg-color);
  color: var(--normal-color);
}
h1 {
  font-size: 18px;
  margin: 0;
}
h2 {
  font-weight: bold;
  font-size: 18px;
}
h3 {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 0;
}
.title {
  color: var(--title-color);
}

.header {
  height: 50px;
  width: 100%;
  background: var(--main-color);
  .header-flex {
    font-size: 18px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--accent-color);
  }
}

.new-task-block {
  margin-top: 40px;
  .input {
    max-width: 640px;
    margin-right: 15px;
  }
  .input-group {
    padding-top: 10px;
    max-width: 900px;
  }
  .btn {
    width: 180px;
    background-color: var(--main-color);
    color: var(--accent-color);
    outline: none;
    user-select: none;
    transition: all 0.2s ease-out;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.25);
    &:hover {
      background-color: darken($main-color, $amount: 4);
    }
  }
}

.current-tasks-block {
  margin-top: 40px;
  .current-task-list {
    padding-top: 10px;
  }
  .task-title {
    width: 200px;
  }
  .current-task {
    display: flex;
    &-item {
      padding-right: 92px;
    }
    .task-duration {
      display: flex;
    }
  }
  .current-task-btn {
    background-color: var(--accent-color);
    color: var(--main-color);
    border: 1.5px solid var(--main-color);
    height: 38px;
    width: 180px;
    margin-left: 30px;
    font-weight: 600;
    transition: all 0.2s ease-out;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.25);
    &:hover {
      background-color: darken($accent-color, $amount: 4);
    }
  }
}

.completed-tasks-block {
  margin-top: 40px;
  .completed-tasks-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .completed-task-title {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 5px;
  }
  .wrapper {
    display: flex;
  }
  .completed-task-item {
    padding: 5px 10px 20px 0;
  }
}

.change-theme {
  position: fixed;
  right: 20px;
  bottom: 20px;
  .outer-circle {
    width: 40px;
    height: 40px;
    background: #6979f8;
    border-radius: 50%;
    cursor: pointer;
    .inner-circle {
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      right: 7px;
      top: 10px;
      &:after {
        content: "";
        position: absolute;
        left: 5px;
        top: 0px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #6979f8;
      }
    }
  }
}

@import "mobile";
