*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --main-color: #6979f8;
  --accent-color: #fff;
  --bg-color: #fbfbfb;
  --normal-color: #111;
  --title-color: #6979f8;
}

.night-theme {
  --main-color: #6979f8;
  --accent-color: #fff;
  --bg-color: #1f2041;
  --normal-color: #fff;
  --title-color: #fff;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
